
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #4B0082;
}

h1 {
    margin-top: 30px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 0 50px;
}

button {
    padding: 10px 20px;
    background-color: #6A0DAD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calendario {
    margin-top: 20px;
}
